body {
    background-color: #d88c64;
}

canvas {
    position: absolute;
}

#wrapper {
    margin: 0 auto;
    width: 960px;
    text-align: center;
}

#player-canvas {
    z-index: 5;
}

#enemy-canvas {
    z-index: 3;
}

#background {
    z-index: 1;
}

.sprite {
    display: none;
}

.menu-button {
    width: 25%;
    margin: 1%;
}